<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>


	<script type="text/javascript" th:inline="none">

		function tofind() {
			if (AD.value == "") {
				alert("請輸入")
			} else {
				var form1 = document.form1;
				form1.action = "show";
				form1.submit();
			}
		};

		function toupdate() {
			if (AD.value == "") {
				alert("請輸入")
			} else {
				var form1 = document.form1;
				form1.action = "batch";
				form1.submit();
			}
		};

	</script>

</head>

<body>
	<table border="1" cellpadding="1" cellspacing="1" style="width:850px">
		<tr>
			<th scope="col" style="background-color:#6699cc;"><a th:href="@{/jcl/jcl_home}"
					style="color: azure">查詢可執行之AD</a></th>
			<th scope="col" style="background-color:#6699cc;"><a th:href="@{/su}" style="color: azure">測試個案查詢</a>
			</th>
			<th scope="col" style="background-color:#6699cc;"><a th:href="@{/jcl_sequence/jcl_sequence_home}"
					style="color: azure">執行順序查詢</a></th>
			<th scope="col" style="background-color:#6699cc;"><a th:href="@{/defect}">
					<font color=#FFFFFF>DEFECT維護及查詢</font>
				</a></th>
			<th scope="col" style="background-color:#6699cc;"><a th:href="@{/report}">
					<font color=#FFFFFF>統計報表</font>
				</a></th>
		</tr>
	</table>


	<h2>查詢條件</h2>
	<form name="form1" action="" method="get">
		Sprint :
		<input type="radio" id="all" name="sprint" value="ALL" checked>
		<label for="all">ALL</label>
		<input type="radio" id="sprint1" name="sprint" value="sprint1">
		<label for="sprint1">sprint1</label>
		<input type="radio" id="sprint2" name="sprint" value="sprint2">
		<label for="sprint2">sprint2</label>
		<input type="radio" id="sprint3" name="sprint" value="sprint3">
		<label for="sprint3">sprint3</label><br>

		AD :
		<input type="text" name="AD" id="AD" required><br>
		JCL :
		<input type="text" name="JCL" required><br>

		<input type="button" name="search" value="find" onclick="tofind()" />
		<input type="button" name="update" value="update" onclick="toupdate()" />

		<input hidden name="page" value="0">
	</form>
	查無資料
</body>

</html>