<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>執行順序查詢</title>
</head>

<body>
    <table border="1" cellpadding="1" cellspacing="1" style="width:850px">
        <tr>
            <th scope="col" style="background-color:#6699cc;"><a th:href="@{/jcl/jcl_home}"
                    style="color: azure">查詢可執行之AD</a></th>
            <th scope="col" style="background-color:#6699cc;"><a th:href="@{/su}" style="color: azure">測試個案查詢</a>
            </th>
            <th scope="col" style="background-color:#6699cc;"><a th:href="@{/jcl_sequence/jcl_sequence_home}"
                    style="color: azure">執行順序查詢</a></th>
            <th scope="col" style="background-color:#6699cc;"><a th:href="@{/defect}">
                    <font color=#FFFFFF>DEFECT維護及查詢</font>
                </a></th>
            <th scope="col" style="background-color:#6699cc;"><a th:href="@{/report}">
                    <font color=#FFFFFF>統計報表</font>
                </a></th>

        </tr>
    </table>

    <p><span style="font-size:16px"><strong>查詢條件</strong></span></p>

    <form th:action="@{/jcl_sequence/jcl_sequence_list}">
        AD：<input size="16" type="search" name="adName" placeholder="以AD名稱搜尋" /><br />
        <input type="submit" value="查詢" /><br />
    </form>
    <script>
        const asyncFetch = async () => {
            try {
                const res = await fetch("http://localhost:8081/test?adName=BP084L");
                const json = await res.json();
                console.log(json);

            } catch (error) {
                console.log(error);
            }
        };
    </script>
</body>

</html>